LoadPlugin postgresql
<Plugin postgresql>
  <Database {{ db_name }}>
    Host "localhost"
    Port "{{postgresql_port}}"
    Password "{{ db_password }}"
    User "{{ db_user }}"
    Query backends
    Query transactions
    Query queries
    Query queries_by_table
    Query query_plans
    Query table_states
    Query query_plans_by_table
    Query table_states_by_table
    Query disk_io
    Query disk_io_by_table
    Query disk_usage
  </Database>
</Plugin>
